<footer class="footer">
  <small>
    <a href="http://phoenixframework.org">Phoenix Framework</a>
  </small>
  <nav>
    <a href="<%= static_page_path(@conn, :about) %>" class="nav-link">About</a>
    <a href="<%= static_page_path(@conn, :contact) %>"class="nav-link">Contact</a>
    <a href="#" class="nav-link">News</a>
  </nav>
</footer>
