<footer class="footer">
  <small>
    <%= link("Phoenix Framework", to: "http://phoenixframework.org") %>
  </small>
  <nav>
    <%= link("About", to: static_page_path(@conn, :about), class: "nav-link") %>
    <%= link("Contact", to: static_page_path(@conn, :contact), class: "nav-link") %>
    <%= link("News", to: "#", class: "nav-link") %>
  </nav>
</footer>
