<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a id="logo">sample app</a>
      <nav class="pull-right">
        <%= link("Home", to: static_page_path(@conn, :home), class: "nav-link") %>
        <%= link("Help", to: static_page_path(@conn, :help), class: "nav-link") %>
        <%= link("Sign in", to: "#", class: "nav-link") %>
      </nav>
    </div>
  </div>
</header>
