<h1>About Us</h1>
<p>
  これは
  <%= link("Ruby on Rails Tutorial", to: "http://railstutorial.org/") %>
  を
  <%= link("Elixir", to: "https://elixir-lang.org") %>
  /
  <%= link("Phoenix Framework", to: "http://phoenixframework.org") %>
  で書き直したアプリケーションです。
</p>
