<h1>Help</h1>
<p>
  Ruby on Rails Tutorial のヘルプは
  <%= link("Rails Tutorial help Page", to: "http://railstutorial.jp/help") %>
  へ。

  Phoenix framework のヘルプは
  <%= link("Phoenix", to: "https://hexdocs.pm/phoenix/overview.html") %>
  へ。
</p>
