<h1>Sample App</h1>

<p>
  ここは
  <a href="http://railstutorial.jp">Ruby on Rails Tutorial</a>
  を
  <a href="https://elixir-lang.org">Elixir</a>
  /
  <a href="http://phoenixframework.org">Phoenix Framework</a>
  で書き直したサンプルページのホームです。
</p>
